[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {ircd, [
         {host, '0.0.0.0'}, % '0.0.0.0' means any IPv4 host
         {port, 6667},
         {server, "Erlang IRCd by Cofyc."},
         {description, "View my project here: https://github.com/Cofyc/erlang-ircd."}
        ]}
].
